In [ ]:
for produto in range (0,4):
    produto = str(input("Digite o nome do produto: "))
    valor = float(input("Digite o valor do produto "))

    print("O produto é:", produto)
    print("O valor é:",valor)

Digite o nome do produto: camera
Digite o valor do produto 250
O produto é: camera
O valor é: 250.0

In [ ]:
for elemento in [1,2,3,4,5,6]:
    print('Estamos no elemento ', elemento)

Estamos no elemento  1
Estamos no elemento  2
Estamos no elemento  3
Estamos no elemento  4
Estamos no elemento  5
Estamos no elemento  6

In [ ]:
for elemento in "rafa":
    print("Estamos na letra:", elemento)

In [ ]:
for elemento in range (len("rafaella")):
    print("estamos na letra:" ,elemento)

estamos no elemento 0
estamos no elemento 1
estamos no elemento 2
estamos no elemento 3
estamos no elemento 4
estamos no elemento 5
estamos no elemento 6
estamos no elemento 7

In [ ]:
produto = 0
while produto < 4:

    produto = str(input('Digite o nome do produto: '))
    vvalor = float(input('Digite o valor do produto: '))

    produto += 1

    print('O produto é: ',produto)
    print('O valor é: ',valor)

In [26]:
elemento = 0

while elemento <= len([1,2,3,4,5,6]):
    print("Estamos no elemento",elemento)

    elemento +=1

Estamos no elemento 0
Estamos no elemento 1
Estamos no elemento 2
Estamos no elemento 3
Estamos no elemento 4
Estamos no elemento 5
Estamos no elemento 6

In [27]:
s = "rafaella"
indice = 0

while indice in range (len(s)):
    print('Estamos no elemento', s[indice])
    indice +=1

Estamos no elemento r
Estamos no elemento a
Estamos no elemento f
Estamos no elemento a
Estamos no elemento e
Estamos no elemento l
Estamos no elemento l
Estamos no elemento a

In [28]:
palavra = 'rafaella'
for rafaella, marques in enumerate(palavra):
    print(rafaella, marques )

0 r
1 a
2 f
3 a
4 e
5 l
6 l
7 a

In [35]:
lista = ["Jogar",'Comer','Dançar']
palavra = 'teste'

objeto1 = enumerate (lista)
objeto2 = enumerate (palavra)


print("Tipo: ",type(objeto1))
print(list(enumerate(lista)))

Tipo:  <class 'enumerate'>
[(0, 'Jogar'), (1, 'Comer'), (2, 'Dançar')]

In [ ]:
print (list(enumerate(palavra,2)))

In [31]:
s = "teste"

for caracteres in s:
    print(s)

teste
teste
teste
teste
teste

In [32]:
s = "teste"

for caracteres in s [3:8]:
    print(s)

teste
teste

In [33]:
pares = 0
impares = 0

for numero in range(10):
    numero = int(input("Digite um número inteiro: "))
    if numero % 2 == 0:
        pares += 1
    else:
        impares += 1

print("Quantidade de números pares:", pares )
print("Quantidade de números ímpares:", impares)

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 1
Digite um número inteiro: 3
Digite um número inteiro: 3
Digite um número inteiro: 2
Quantidade de números pares: 3
Quantidade de números ímpares: 7